body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.place-image-container {
  width: 100%;
  height: 20vh;
}
.place-image-container > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.friend-list-image-container {
  width: 10vh;
  height: 10vh;
  border: 1px solid black;
}
.friend-list-image-container > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.user-image-container {
  width: 20vh;
  height: 20vh;
  border: 1px solid black;
  border-radius: 50%
}
.user-image-container > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%
}